body{
    font-family:  'Open Sans', sans-serif;
    background-color: #eeeeee;
    /* color: #2A3B47; */
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Arial, Sans-serif;
    font-weight: normal;
}


    



