body{
    padding-top: 10%;
    padding-bottom: 10%;
    font-family:  'Open Sans', sans-serif;	
}
.loadPage {
    position: fixed;           /* Posiciona en toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw;              /* Ocupa todo el ancho de la ventana */
    height: 100vh;             /* Ocupa todo el alto de la ventana */
    background: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente opcional */
    display: flex;             /* Centrado con Flexbox */
    align-items: center;
    justify-content: center;
    z-index: 9999;             /* Encima de todo */
}

.loadPage img {
    width: 60px;               /* Tamaño fijo en píxeles, más control */
    height: 60px;
    object-fit: contain;       /* Asegura que no se deforme */
}

.text-rosado{
    color:#ff7b7b;
}
.btn-inicio{
	font-family: "Oswald", Arial, Sans-serif;
	font-weight: lighter;
}


 .titulo_card{
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Oswald", Arial, Sans-serif;
	font-weight: normal;
}
.buscar input[type="text"]{
	background: none;
	border:1px solid rgba(255,255,255,.7);
	color:rgba(255,255,255,.7);
	height: 30px;
	padding: 0 10px;
	padding-right: 32px; 
}
.btn-inicio{
    background-color: #fff;
    border: none;
}
.valid-danger{
    color: red;
}
.buscar .icono-buscar {
   color:rgba(255,255,255,.7);
   position: absolute;
   right: 0;
   background: none;
   border:none;
   cursor:pointer;
   padding: 6px;
   font-size: 16px;
   line-height: 16px;
}

.borde {
    height: 25px;
   
}
	
    



    
    


    







